{% extends "base.html" %}
{% block content %}
<style>

    .cano-imagem {
        max-height: 300px;
        max-width: 300px; 
    }

    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }
</style>


<!-- Cano Details Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card">
                    <div class="row g-0">
                        <!-- Coluna da Imagem com Carrossel -->
                        <div class="col-md-5 d-flex align-items-center justify-content-center">
                            <img class="img-fluid cano-imagem" src="{{ url_for('static', filename=cano[3]) }}" alt="{{ cano[1] }}" style="display: block;">
                        </div>
                        <!-- Coluna do Texto -->
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title text-center text-md-start" style="font-size: 30px;">{{ cano[1] }}</h5>
                                <pre class="card-text" style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;">{{ cano[2] }}</pre>
                                <!-- Botão Editar -->
                                <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#editModal">
                                    Editar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para Edição -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Editar Informações</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{{ url_for('editar_cano', id=cano[0]) }}" method="POST" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="titulo" class="form-label">Título:</label>
                                <input type="text" class="form-control" id="titulo" name="titulo" value="{{ cano[1] }}">
                            </div>
                            <div class="mb-3">
                                <label for="texto" class="form-label">Descrição:</label>
                                <textarea class="form-control" id="texto" name="texto" rows="4">{{ cano[2] }}</textarea>
                            </div>

                            <div class="mb-3">
                                <label for="foto_principal" class="form-label">Substituir Foto</label>
                                <input type="file" class="form-control" id="foto_principal" name="foto_principal">
                            </div>

                            <a href="{{url_for('excluir_cano', cano_id=cano[0])}}" class="btn btn-danger">
                                Excluir Cano
                            </a>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="recarregarPagina()">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <h5 style="color: red; text-align: center; margin-top: 1.5rem;">**Para apagar uma entrada, deixe o campo em branco e aperte o botão "Salvar Alterações"**</h5>
        <!-- Form para editar a tabela de Bitolas e Espessuras -->
        <form action="{{url_for('edit_caracteristicas', cano_id=cano[0])}}" method="POST">
            <div class="row g-4 justify-content-center mt-4">
                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">Bitolas e Espessuras</h5>
                            <table class="table table-bordered" id="bitolas-table">
                                <thead>
                                    <tr>
                                        <th>Bitola</th>
                                        <th colspan="10">Espessura em Milímetros</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for caracteristicas in resultados %}
                                        <tr>
                                            <td class="text-center">
                                                <input type="text" name="bitola_{{ caracteristicas['bitola_id'] }}" value="{{ caracteristicas['bitola'] }}" class="form-control" style="max-width: 150px; width: 100%; margin: auto;" />
                                            </td>

                                            <!-- Container de espessuras -->
                                           <td colspan="20">
                                                <div class="d-flex flex-column align-items-center gap-2">
                                                    <!-- Container para os inputs -->
                                                    <div id="espessuras-{{ loop.index }}" class="d-flex flex-wrap gap-2 justify-content-center">
                                                        {% set espessuras = caracteristicas['espessuras'].split(', ') if caracteristicas['espessuras'] is string else caracteristicas['espessuras'] %}
                                                        
                                                        {% for espessura, espessura_id in caracteristicas['espessuras_com_ids'] %}
                                                            <div class="d-flex align-items-center mb-2">
                                                                <input type="text" name="espessura_{{ espessura_id }}" value="{{ espessura }}" class="form-control" style="width: 70px;" />
                                                            </div>
                                                        {% endfor %}
                                                    </div>

                                                    <!-- Botão centralizado horizontalmente -->
                                                    <button type="button" class="btn btn-success" onclick="addEspessura({{ loop.index }}, {{ caracteristicas['bitola_id'] }})">
                                                        <i class="bi bi-plus"></i>
                                                    </button>
                                                </div>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- Botão para adicionar uma nova bitola -->
                            <button type="button" class="btn btn-primary mt-3" onclick="addBitola()">
                                <i class="bi bi-plus-circle"></i> Adicionar Bitola
                            </button>
                            <button type="submit" class="btn btn-success mt-3">Salvar Alterações</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Tabela de Bitolas e Espessuras End -->
    </div>
</div>
<!-- Cano Details End -->

<!-- Script para adicionar e remover inputs de espessura e bitola dinamicamente -->
<script>
    let bitolaIndex = {{ resultados|length + 1 }};  // Define o índice inicial
    var indentifcador = 0

    function addEspessura(rowIndex, bitolaID) {
        indentifcador += 1 

        const container = document.getElementById(`espessuras-${rowIndex}`);
        const newDiv = document.createElement("div");
        newDiv.className = "d-flex align-items-center mb-2";

        const newInput = document.createElement("input");
        newInput.type = "text";
        
        if(bitolaID == undefined){
            newInput.name = `nova_espessura_${rowIndex}_${indentifcador}`;
        } else{
            newInput.name = `nova_espessura_${bitolaID}_${indentifcador}`;
        }
        
        newInput.className = "form-control";
        newInput.style.width = "70px";

        newDiv.appendChild(newInput);
        container.appendChild(newDiv);
    }

    function addBitola() {
        const tableBody = document.querySelector("#bitolas-table tbody");
        const newRow = document.createElement("tr");
        
        // Coluna da nova bitola
        const bitolaCell = document.createElement("td");
        const bitolaInput = document.createElement("input");
        bitolaCell.className = 'text-center';
        bitolaInput.type = "text";
        bitolaInput.name = `nova_bitola_${bitolaIndex}`;
        bitolaInput.className = "form-control";
        bitolaInput.style.maxWidth = "150px";  // Define a largura máxima da célula de bitola
        bitolaInput.style.width = "100%";    // Faz o input ocupar toda a largura disponível até o máximo
        bitolaInput.style.margin = 'auto';
        bitolaCell.appendChild(bitolaInput);
        newRow.appendChild(bitolaCell);

        // Coluna das espessuras
        const espessurasCell = document.createElement("td");
        espessurasCell.colSpan = 10;
        espessurasCell.innerHTML = `
            <div id="espessuras-${bitolaIndex}" class="d-flex flex-wrap gap-2 justify-content-center"></div>
            <button type="button" class="btn btn-success mt-2" onclick="addEspessura(${bitolaIndex})">
                <i class="bi bi-plus"></i>
            </button>
        `;

        newRow.appendChild(espessurasCell);
        tableBody.appendChild(newRow);
        bitolaIndex++;
    }

</script>
{% endblock %}
