{% extends "base.html" %}
{% block content %}
<style>
    .cano-imagem {
        max-height: 300px;
        max-width: 300px;
    }
    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }
</style>

<!-- Page Header Start -->

<!-- Page Header End -->

<!-- Cano Details Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card">
                    <div class="row g-0">
                        <!-- Coluna da Imagem -->
                        <div class="col-md-5 d-flex align-items-center justify-content-center">
                            <img class="img-fluid cano-imagem" src="{{ url_for('static', filename=cano[3]) }}" alt="{{ cano[1] }}" style="display: block;">
                        </div>
                        <!-- Coluna do Texto -->
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title text-center text-md-start" style="font-size: 30px;">{{ cano[1] }}</h5>
                                <pre class="card-text text-center text-md-start" style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;">{{ cano[2] }}</pre>
                            </div>
                        </div>
                    </div>
                    <!-- Botão do WhatsApp -->
                    <div class="text-center mt-3">
                        <a href="https://wa.me/5511975262854?text={{ 'Olá, gostaria de saber mais sobre o produto: ' ~ cano[1] | urlencode }}" 
                        class="btn btn-success d-flex align-items-center justify-content-center gap-2">
                            <i class="bi bi-whatsapp"></i> Saber mais sobre o Produto
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabela de Bitolas e Espessuras Start -->
        <div class="row g-4 justify-content-center mt-4">
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bitolas e Espessuras</h5>
                        <table class="table table-bordered" id="tabela-bitolas">
                            <thead>
                                <tr>
                                    <th>Bitola</th>
                                    <th colspan="10">Espessura em Milímetros</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set max_espessuras = resultados | map(attribute='espessuras') | map('length') | max %}
                                {% for caracteristicas in resultados %}
                                <tr>
                                    <td>{{ caracteristicas['bitola'] }}</td>

                                    {% set espessuras = caracteristicas['espessuras'] %}
                                    {% for espessura in espessuras %}
                                        <td>{{ espessura }}</td>
                                    {% endfor %}

                                    {# Adiciona células vazias somente até o número máximo de espessuras #}
                                    {% for _ in range(max_espessuras - espessuras|length) %}
                                        <td>&nbsp;</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tabela de Bitolas e Espessuras End -->
    </div>
</div>
<!-- Cano Details End -->

{% endblock %}
