{% extends "base.html" %}
{% block content %}

<style>
    .flash-container {
        position: absolute;
        top: 120px; 
        left: 0;
        right: 0;
        z-index: 1050; 
    }
</style>

<style>
.cano-imagem{
    width: 100%;         
    height: 200px;       
    object-fit: cover;
}

</style>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-container">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12">
                        {% for type, message in messages %}
                            <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{{ url_for('static', filename='img/tubos-de-aco3.svg') }}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 pt-5">
                                <h1 class="display-4 text-white mb-4 animated slideInDown">Os melhores tubos de aços estão aqui!</h1>
                                <p class="fs-5 text-body mb-4 pb-2 mx-sm-5 animated slideInDown">Qualidade e durabilidade em cada projeto. Conte conosco para atender suas necessidades com precisão e segurança.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-5">Bem-vindo ao melhor centro de serviços de canos de aço</h1>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3" src="{{ url_for('static', filename='img/icone1.png') }}" alt="">
                                <h5 class="mb-0">Profissionais Especializados</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 me-3" src="{{ url_for('static', filename='img/icone2.png') }}" alt="">
                                <h5 class="mb-0">Qualidade nos serviços</h5>
                            </div>
                        </div>
                    </div>
                    <p class="mb-4">Com mais de 10 anos de experiência no mercado de aço, somos especialistas em fornecer soluções de tubos para construção, automação e indústria. Nosso compromisso com a qualidade e a satisfação do cliente nos torna a escolha ideal para qualquer projeto.</p>
                    <div class="border-top mt-4 pt-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-phone-alt text-white"></i>
                                    </div>
                                    <h5 class="mb-0">+55 11 97526-2854</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-envelope text-white"></i>
                                    </div>
                                    <h5 class="mb-0">contato@astrotoldos</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100 wow zoomIn" data-wow-delay="0.1s" src="{{ url_for('static', filename='img/1.svg') }}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100 wow zoomIn" data-wow-delay="0.3s" src="{{ url_for('static', filename='img/2.svg') }}">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100 wow zoomIn" data-wow-delay="0.5s" src="{{ url_for('static', filename='img/3.svg') }}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100 wow zoomIn" data-wow-delay="0.7s" src="{{ url_for('static', filename='img/4.svg') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Facts Start -->
<div class="container-fluid facts my-5 py-5" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/tubos-de-aco3.svg') }}" alt="Image">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-4 text-white" data-toggle="counter-up">680</h1>
                <span class="text-primary">Clientes Felizes</span>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <h1 class="display-4 text-white" data-toggle="counter-up">1000</h1>
                <span class="text-primary">Projetos Realizados</span>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-4 text-white" data-toggle="counter-up">5750</h1>
                <span class="text-primary">Vendas</span>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <h1 class="display-4 text-white" data-toggle="counter-up">40</h1>
                <span class="text-primary">Colaboradores</span>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6 mb-5">Nossos Produtos</h1>
        </div>
        <div class="row g-4 justify-content-center">
            {% for cano in canos %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid cano-imagem" src="static/{{ cano[3] }}" alt="{{ cano[1] }}">  
                        <div class="d-flex align-items-center bg-light justify-content-center">
                            <div class="service-icon flex-shrink-0 bg-primary teste"></div>
                            <a class="h4 mx-4 mb-0 text-center" href="{{ url_for('cano', cano_id=cano[0]) }}">{{ cano[1] }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Quote Start -->
<div class="container-fluid overflow-hidden my-5 px-lg-0">
    <div class="container quote px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 quote-text" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/1.svg') }}">
                <div class="h-100 px-4 px-sm-5 ps-lg-0 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="text-white mb-4">Precisa de outros produtos?</h1>
                    <p class="text-light mb-5">Preencha o formulário com as informações do seu pedido e nossa equipe entrará em contato com uma proposta personalizada, pensada para atender às suas necessidades e expectativas.</p>
                </div>
            </div>
            <div class="col-lg-6 quote-form" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/2.svg') }}">
                <div class="h-100 px-4 px-sm-5 pe-lg-0 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white p-4 p-sm-5">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="gname" placeholder="Gurdian Name">
                                    <label for="gname">Seu nome</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="gmail" placeholder="Gurdian Email">
                                    <label for="gmail">Seu Email</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cname" placeholder="Child Name">
                                    <label for="cname">Seu Celular</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cage" placeholder="Child Age">
                                    <label for="cage">Tipo do Produto</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 80px"></textarea>
                                    <label for="message">Mensagem</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-5" type="submit">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->

<!-- Localização -->
<div class="localizacao" style="width: 100%;">
    <h1 class="display-6 mb-5" style="text-align: center;">Onde estamos localizados?</h1>
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.8792481426727!2d-46.58919632559954!3d-23.566973684682396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e799caa8cc5%3A0x923f7c08018c9cb!2sR.%20Jos%C3%A9%20Monteiro%2C%20322%20-%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1698570000000!5m2!1spt-BR!2sbr"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>
    <div style="text-align: center; font-size: 18px; font-weight: bold; padding: 10px; background-color: #080c34; color: white;">
    Rua José Monteiro, 322 - São Paulo - SP
    </div>
<!-- Localização -->

{% endblock %}
