{% extends "base.html" %}
{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-12">
                            {% for type, message in messages %}
                                <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <!-- Login Form Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="bg-light rounded p-4 p-sm-5 my-5">
                        <h3 class="text-center mb-4">Login</h3>
                        <form method="POST" action="{{ url_for('login') }}">
                            <div class="form-group mb-3">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" class="form-control" required>
                            </div>
                            <div class="form-group mb-4">
                                <label for="password">Senha</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Entrar</button>
                        </form>
                        <p class="text-center mt-3">Não tem uma conta? <a href="{{ url_for('register') }}">Registre-se aqui</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Form End -->

    {% endblock %}