{% extends "base.html" %}
{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-4 text-white animated slideInDown mb-4">Produtos</h1>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">

            <!-- Produtos Existentes -->
            <div class="row g-4 justify-content-center">
                {% for cano in canos %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item">
                            <img class="img-fluid" src="static/{{ cano[3] }}" alt="{{ cano[1] }}" style="width: 500px;">
                            <div class="d-flex align-items-center bg-light">
                                <div class="service-icon flex-shrink-0 bg-primary"></div>
                                <a class="h4 mx-4 mb-0 text-center" href="{{ url_for('cano', cano_id=cano[0]) }}">{{ cano[1] }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- Service End -->

{% endblock %}

