{% extends "base.html" %}
{% block content %}

    <!-- Register Form Start -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-12">
                            {% for type, message in messages %}
                                <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}


    <div class="container-xxl py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="bg-light rounded p-4 p-sm-5 my-5">
                        <h3 class="text-center mb-4">Registrar</h3>
                        <form method="POST" action="{{ url_for('register') }}">
                            <div class="form-group mb-3">
                                <label for="name">Nome</label>
                                <input type="text" id="name" name="name" class="form-control" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="email">E-mail</label>
                                <input type="email" id="email" name="email" class="form-control" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="password">Senha</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <div class="form-group mb-4">
                                <label for="secret_password">Senha Secreta</label>
                                <input type="password" id="secret_password" name="secret_password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Registrar</button>
                        </form>
                        <p class="text-center mt-3">Já tem uma conta? <a href="{{ url_for('login') }}">Faça login aqui</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form End -->

{% endblock %}